**/.DS_Store
*.DS_Store
*.retry
*/.DS_Store
.DS_Store
.DS_Store.vault_pass
.DS_Store?
.Spotlight-V100
.Trashes
._*
._.DS_Store
.idea
.local
.vault_pass
.vscode
Icon?
Thumbs.db
ehthumbs.db
localtest
roles/*/backup
roles/.DS_Store
roles/debops.*
venv/
age.agekey
**/.terraform/**
**/terraform.tfstate
**/terraform.tfstate.backup
**.terraform.lock.hcl
**.terraform.tfstate.lock.info
**.terraform.tfstate.backup.lock.info
init/media/.kube/*
init/media/.terraform/
**.decrypted~secrets*
init/media/terraform.tfstate
